workflows/json_files/AI_Client_Onboarding_Agent_Auto_Welcome_Email_Generator_32e35ec0-4556-43c1-865e-cef17d8ec8b1.json
{
  "meta": {
    "instanceId": "5aaf4236c70e34e423fbdb2c7b754d19253a933bb1476d548f75848a01e473cf",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "4eb2c3dd-29de-4451-aaab-e658b846b27d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        720
      ],
      "parameters": {
        "color": 4,
        "width": 560,
        "height": 900,
        "content": "=======================================\n            WORKFLOW ASSISTANCE\n=======================================\nFor any questions or support, please contact:\n    Yaron@nofluff.online\n\nExplore more tips and tutorials here:\n   - YouTube: https://www.youtube.com/@YaronBeen/videos\n   - LinkedIn: https://www.linkedin.com/in/yaronbeen/\n=======================================\n\nAuthor:\nYaron Been\n![Yaron Been](https://1.gravatar.com/avatar/a4e4dcaa1f76ff5266bbf80e8df86d22efda890474c68f7796e72fd82e3f2375?size=512&d=initials)"
      },
      "typeVersion": 1
    },
    {
      "id": "a83212ed-f571-4316-a9c3-62a70fb222df",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "position": [
        0,
        880
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "46d18dd0-9d7b-48a6-8d0a-aad851abd5d1",
      "name": "Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        1260,
        1200
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "1c05dc92-0c66-47f5-9034-ea98423013dd",
      "name": "Execution Completed",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1260,
        880
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "3c96f02f-cc0f-47d0-a124-452cb663c8fb",
      "name": "Execution Failure",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1460,
        1200
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "80fa167e-dc78-4ccd-a38c-2b48f6a83ae7",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        200,
        880
      ],
      "parameters": {
        "event": "rowAdded",
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1635870855,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Hvti1sX6SvjP1Kj8dWFEiksiqn1FJVBoMToP2X6xBw/edit#gid=1635870855",
          "cachedResultName": "Form Responses 1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "19Hvti1sX6SvjP1Kj8dWFEiksiqn1FJVBoMToP2X6xBw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Hvti1sX6SvjP1Kj8dWFEiksiqn1FJVBoMToP2X6xBw/edit?usp=drivesdk",
          "cachedResultName": "Onboarding"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "9681f192-14e9-460d-9e15-bb1f89635f4f",
      "name": "Client Data",
      "type": "n8n-nodes-base.set",
      "position": [
        400,
        880
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "7c333d8f-04cd-4987-9c30-4c7bc26baecb",
              "name": "fields",
              "type": "string",
              "value": "=Name:  {{ $json['Client name'] }} \nEmail:  {{ $json[' email '] }}\nCompany: {{ $json['  Company Name  '] }}\nService Needed: {{ $json['  Services Needed  '] }}\nOther info: {{ $json['  Any other onboarding info  '] }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "d925a2d9-2654-457d-a747-a7f65ffd0ab7",
      "name": "Client Checklist",
      "type": "n8n-nodes-base.set",
      "position": [
        620,
        880
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "c9c81e80-f2f2-436d-a6cf-48882b0f72ea",
              "name": "=Checklist",
              "type": "string",
              "value": "=\"Checklist\": \"\n1. Account setup\n2. Welcome call scheduled\n3. Document collection\n4. Service configuration\n5. Onboarding session\n6. First milestone review"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "e837f18c-4dc0-41c6-993c-9bf8f262a23f",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        740,
        880
      ],
      "parameters": {
        "text": "=Give me an onboarding check list for an email to the client, give me only email body and don't generate extra text like \"Okay, here's an email template ...\" and start and end on new lines\nstart with:\nHi {{ $('Google Sheets Trigger').item.json['Client name'] }}, \nand end with \nBest regards,\nYour {{ $('Google Sheets Trigger').item.json['  Company Name  '] }} Team\n\n:\nAlso use information from checklist and Fields below\n {{ $json.Checklist }}\n\nFields: {{ $('Client Data').item.json.fields }}",
        "promptType": "define"
      },
      "typeVersion": 1.5
    },
    {
      "id": "39d41284-0802-40d2-a3ab-08c8f834fab4",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        900,
        1080
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-2.0-flash"
      },
      "typeVersion": 1
    },
    {
      "id": "d031668d-4d9f-4c0f-b3b7-c54f0fcaa757",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1060,
        880
      ],
      "webhookId": "2a07b507-23a6-4bfb-adff-997d30ea3dfa",
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json[' email '] }}",
        "message": "= {{ $json.text }}",
        "options": {},
        "subject": "=Welcome to Our Service,  {{ $('Google Sheets Trigger').item.json['Client name'] }} "
      },
      "typeVersion": 2.1
    }
  ],
  "pinData": {},
  "connections": {
    "Client Data": {
      "main": [
        [
          {
            "node": "Client Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Execution Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execution Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Checklist": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}