workflows/json_files/Auto-Respond_to_Gmail_Inquiries_using_OpenAI_Google_Sheet__AI_Agent_07f862c1-b10a-44ca-9d7b-942ed51b4c6a.json
{
  "meta": {
    "instanceId": "d1786ab0d745a7498abf13a9c2cdabb1374c006e889b79eef64ce0386b8f8a41"
  },
  "nodes": [
    {
      "id": "e6400e6e-10ed-474d-8ea9-d1a7f8cf4c25",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2800,
        180
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "MGwGMKEkdcjzlYCw",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "a00aafaf-d7b1-41a6-8055-8059f53ca5de",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3140,
        200
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "MGwGMKEkdcjzlYCw",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "ddf98879-7401-443c-950d-059fa4888fcc",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3340,
        200
      ],
      "parameters": {
        "jsonSchemaExample": "{\n  \"respond\": \"Hi!\\nThank you for reaching out.\\nRefunds can be requested within 30 days of purchase.\\nOur pricing starts at $99/month.\\nIf you have more questions, feel free to reply to this email.\"\n}"
      },
      "typeVersion": 1.2
    },
    {
      "id": "9ec0cdeb-8b68-45e2-850a-de58e6a650c8",
      "name": "Google Sheets Context Retrieval Tool",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        3320,
        280
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bZ7DTp_6-Qs6S7McyIrlMnuCvHbCrgUI-GBjz_eMpHc/edit#gid=0",
          "cachedResultName": "FAQ_Context"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1bZ7DTp_6-Qs6S7McyIrlMnuCvHbCrgUI-GBjz_eMpHc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bZ7DTp_6-Qs6S7McyIrlMnuCvHbCrgUI-GBjz_eMpHc/edit?usp=drivesdk",
          "cachedResultName": "Gmail Auto-Responder – Context & Logs"
        },
        "descriptionType": "manual",
        "toolDescription": "Google Sheet Context Retrieval Tool\nGet Context from Gooogle Sheet"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ypmzFxQFfAacuVVC",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "ba882834-dcab-4254-a910-df0bdb5b1c65",
      "name": "Send Reply to User",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3520,
        -20
      ],
      "webhookId": "e676b1f3-9342-4ad0-ac8f-71ec08a27fbc",
      "parameters": {
        "sendTo": "={{ $('Watch Gmail for New Incoming Emails').item.json.to.value[0].address }}",
        "message": "={{ $('Reply Generator AI Agent').item.json.output.respond }}",
        "options": {
          "appendAttribution": false
        },
        "subject": "Thanks for Reaching Out – Here’s a Response from Our Team",
        "emailType": "text"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "sWl7FFMkEUYBj0zM",
          "name": "Gmail account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "4cfa211c-3fd2-471a-bd76-182270c58543",
      "name": "Reply Generator AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3180,
        -20
      ],
      "parameters": {
        "text": "=You are an AI email assistant that helps respond to customer enquiries.\n\nYou are given:\n- A user enquiry (email content)\n- A list of known FAQ context entries from a Google Sheet\n\nYour job is to:\n1. Carefully read the user’s enquiry and identify all individual questions asked.\n2. Check if any of the context entries from the \"Google Sheet Context Retrieval Tool\" to match any of the questions.\n3. Compose ONE complete, friendly, and professional reply that:\n   - Answers all the questions that have matching context entries using ONLY the information provided in the context.\n   - Politely informs the user that for any unanswered questions, the support team will follow up shortly.\n4. DO NOT make up answers or assume information.\n5. Always include a friendly closing sentence:  \n   \"If you have more questions, feel free to reply to this email.\"\n\nImportant:\n- Only use information from the FAQ context.\n- Keep your tone professional, friendly, and clear.\n- Make sure the reply is consolidated into a SINGLE email covering all matched and unmatched questions.\n\n---\n\n### INPUTS\n**User Full Name**\n{{ $json.from.value[0].name }}\n\n**User Enquiry (email content):**  \n{{ $json.text }}\n\n---\n\n### EXAMPLES\n\n**Example Context:**  \n- \"Our pricing starts at $99/month.\"  \n- \"We offer a 14-day free trial.\"  \n- \"Refunds can be requested within 30 days of purchase.\"\n\n**Example Enquiry:**  \n\"Hi **User Full Name**, I want to know if I can get a refund for my purchase and what your pricing is?\"\n\n**Expected Output (in JSON format):**\n\n```json\n{\n  \"respond\": \"Hi!\\nThank you for reaching out.\\nRefunds can be requested within 30 days of purchase.\\nOur pricing starts at $99/month.\\nIf you have more questions, feel free to reply to this email.\"\n}\n",
        "options": {},
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 1.9
    },
    {
      "id": "5d2a07b5-ca92-4e35-b22d-def2e5ca240a",
      "name": "Watch Gmail for New Incoming Emails",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        2560,
        -20
      ],
      "parameters": {
        "simple": false,
        "filters": {},
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "sWl7FFMkEUYBj0zM",
          "name": "Gmail account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "17d0c01d-93cb-4bee-92f2-815ac6da1dca",
      "name": "Log Inquiries + Response to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3720,
        -20
      ],
      "parameters": {
        "columns": {
          "value": {
            "Timestamp": "={{ $now }}",
            "AI Response": "={{ $('Reply Generator AI Agent').item.json.output.reply }}",
            "Sender Email": "={{ $('Watch Gmail for New Incoming Emails').item.json.to.value[0].address }}",
            "Original Message": "={{ $('Watch Gmail for New Incoming Emails').item.json.text }}"
          },
          "schema": [
            {
              "id": "Timestamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Sender Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Subject",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Original Message",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Original Message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Response",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "AI Response",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 419912118,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bZ7DTp_6-Qs6S7McyIrlMnuCvHbCrgUI-GBjz_eMpHc/edit#gid=419912118",
          "cachedResultName": "Enquiry_Log"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1bZ7DTp_6-Qs6S7McyIrlMnuCvHbCrgUI-GBjz_eMpHc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bZ7DTp_6-Qs6S7McyIrlMnuCvHbCrgUI-GBjz_eMpHc/edit?usp=drivesdk",
          "cachedResultName": "Gmail Auto-Responder – Context & Logs"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ypmzFxQFfAacuVVC",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "471bf7c1-6a48-47fc-9792-6b7eba438371",
      "name": "Inquiry Filter",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        2780,
        -20
      ],
      "parameters": {
        "options": {},
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Inquiry",
              "description": "The message is asking a question, requesting information, or seeking help — such as product details, pricing, support, or usage instructions."
            },
            {
              "category": "Not Inquiry",
              "description": "\tThe message is not asking for anything. It could be a newsletter, promotion, auto-reply, confirmation, or unrelated content with no actionable question."
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "197ed31e-cb9c-42cc-a2ff-f215ff0dfd31",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        -140
      ],
      "parameters": {
        "color": 4,
        "width": 260,
        "height": 380,
        "content": "## SETUP REQUIRED\n**Author:** [Billy Christi](https://n8n.io/creators/billy/)\n\n**Copy the Google Sheet template** here:\n   👉 [Gmail Auto-Responder – Google Sheet Template](https://docs.google.com/spreadsheets/d/1bZ7DTp_6-Qs6S7McyIrlMnuCvHbCrgUI-GBjz_eMpHc/edit?gid=419912118#gid=419912118)\n\nGoogle Sheets Structure:\nSheet 1: \"FAQ_Context\"\n• Column A: Context\n\nSheet 2: \"Enquiry_Log\"\n• Column A: Timestamp\n• Column B: Sender Email\n• Column C: Subject\n• Column D: Original Message\n• Column E: AI Response\n\nRequired Credentials:\n• OpenAI API Key\n• Google Sheets Credential\n• Gmail Credential"
      },
      "typeVersion": 1
    },
    {
      "id": "e2da222a-f041-4c5c-8699-89c2eb437ded",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3100,
        -80
      ],
      "parameters": {
        "color": 4,
        "width": 380,
        "height": 520,
        "content": "🤖 Reads email and creates intelligent replies"
      },
      "typeVersion": 1
    },
    {
      "id": "0b94ce7b-57ff-44c7-8f3e-fd78d96cb20c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3660,
        -100
      ],
      "parameters": {
        "color": 4,
        "width": 260,
        "height": 280,
        "content": "✏️ Records every inquiry and response"
      },
      "typeVersion": 1
    },
    {
      "id": "d8a34841-daab-404e-94f1-8d30f54aed86",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2200,
        300
      ],
      "parameters": {
        "color": 5,
        "width": 460,
        "height": 420,
        "content": "## 📧 Smart Gmail Auto-Responder with AI-Powered Customer Support\nWhat This Template Does:\n\n- Automatically monitors your Gmail inbox for new customer inquiries\n- Uses GPT-4 to intelligently classify emails as inquiries vs spam/newsletters\n- Generates contextual, professional responses using your pre-approved FAQ database\n- Only responds to genuine customer questions - ignores automated emails and promotions\n- Logs all interactions to Google Sheets for analysis and continuous improvement\n- Provides 24/7 instant customer support without human intervention"
      },
      "typeVersion": 1
    },
    {
      "id": "eaf192a2-de50-4a43-8906-fba385454211",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2680,
        300
      ],
      "parameters": {
        "color": 5,
        "width": 400,
        "height": 340,
        "content": "## 📋 WORKFLOW PROCESS OVERVIEW\nStep 1: 📧 Gmail monitors inbox for new incoming emails\nStep 2: 🤖 AI classifies email as genuine inquiry vs spam/newsletter\nStep 3: 🔍 AI analyzes customer questions and searches FAQ database\nStep 4: ✍️ AI generates comprehensive, contextual response using approved answers\nStep 5: 📤 Automated reply sent to customer with professional tone\nStep 6: 📝 Complete interaction logged to Google Sheets for tracking"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {
    "Watch Gmail for New Incoming Emails": [
      {
        "id": "1970bbabb2a1b16a",
        "to": {
          "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Billy Christi Hartanto</span> &lt;<a href=\"mailto:billychartanto@gmail.com\" class=\"mp_address_email\">billychartanto@gmail.com</a>&gt;</span>",
          "text": "\"Billy Christi Hartanto\" <billychartanto@gmail.com>",
          "value": [
            {
              "name": "Billy Christi Hartanto",
              "address": "billychartanto@gmail.com"
            }
          ]
        },
        "date": "2025-05-26T08:34:35.000Z",
        "from": {
          "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Billy Christi Hartanto</span> &lt;<a href=\"mailto:billychartanto@gmail.com\" class=\"mp_address_email\">billychartanto@gmail.com</a>&gt;</span>",
          "text": "\"Billy Christi Hartanto\" <billychartanto@gmail.com>",
          "value": [
            {
              "name": "Billy Christi Hartanto",
              "address": "billychartanto@gmail.com"
            }
          ]
        },
        "html": "<div dir=\"ltr\">What is your pricing?<br><br>what is your uptime<br><br>what will happen for new user?</div>\n",
        "text": "1. Can I try your service before paying? 2. How do I cancel my subscription? 3. I need a refund. How does that work? 4. Where can I download my invoice? 5. What’s included in the Basic Plan? 6. Do you integrate with Google Sheets and Airtable? 7. Is your platform GDPR-compliant? 8. I’m locked out of my account—what should I do? 9. How can I upgrade my current plan? 10. Do you offer support in Indonesian?",
        "headers": {
          "to": "To: Billy Christi Hartanto <billychartanto@gmail.com>",
          "date": "Date: Mon, 26 May 2025 16:34:35 +0800",
          "from": "From: Billy Christi Hartanto <billychartanto@gmail.com>",
          "subject": "Subject: I want to ask something",
          "message-id": "Message-ID: <CAMAvGrJjGkxgDQU+yLWckOVW7JvYGWvQQEDOoXZk6WYoGESVgQ@mail.gmail.com>",
          "content-type": "Content-Type: multipart/alternative; boundary=\"0000000000006cd8ca063605d1a4\"",
          "mime-version": "MIME-Version: 1.0"
        },
        "subject": "I want to ask something",
        "labelIds": [
          "UNREAD",
          "IMPORTANT",
          "SENT",
          "INBOX"
        ],
        "threadId": "1970bba4c2e53c91",
        "messageId": "<CAMAvGrJjGkxgDQU+yLWckOVW7JvYGWvQQEDOoXZk6WYoGESVgQ@mail.gmail.com>",
        "textAsHtml": "<p>What is your pricing?</p><p>what is your uptime</p><p>what will happen for new user?</p>",
        "sizeEstimate": 744
      }
    ]
  },
  "connections": {
    "Inquiry Filter": {
      "main": [
        [
          {
            "node": "Reply Generator AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Inquiry Filter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Reply Generator AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply to User": {
      "main": [
        [
          {
            "node": "Log Inquiries + Response to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Generator AI Agent": {
      "main": [
        [
          {
            "node": "Send Reply to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Reply Generator AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Watch Gmail for New Incoming Emails": {
      "main": [
        [
          {
            "node": "Inquiry Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Context Retrieval Tool": {
      "ai_tool": [
        [
          {
            "node": "Reply Generator AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}